/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: fixed;
  top: 100px !important;
  left: 100px !important;
  direction: ltr;

}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* background-color: red; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
